windows/__pycache__/mainwindow.cpython-39.pyc
__pycache__/mainwindow_rc.cpython-39.pyc
__pycache__/mainwindow_ui.cpython-39.pyc
__pycache__/mainwindow.cpython-39.pyc
__pycache__/mainwindow.cpython-39.pyc
